body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  margin-top: 60px;
}

.top {
  /*height: 60px;*/
  display: inline;
  z-index: 1;
}

.mapboxgl-ctrl-geocoder {
  min-width: 400px !important;
}

.geocoder {
  float: left;
  width: 400px;
  margin: 10px;
}

.button {
  width: 50%;
}

.styled {
    height: 35px;
    margin-top: 10px;
    border: 0;
    padding: 0 15px;
    font-size: 0.8em;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(200, 200, 200, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(220, 220, 220, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}
